<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zx.ibossapi.mapper.iboss.ExpertCourseMapper">
    
    <resultMap type="cn.com.zx.ibossapi.domain.ExpertCourse" id="ExpertCourseResult">
        <result property="ecId"    column="ecId"    />
        <result property="ecTitle"    column="ecTitle"    />
        <result property="orgTg"    column="orgTg"    />
        <result property="ecCode"    column="ecCode"    />
        <result property="eiId"    column="eiId"    />
        <result property="eiCode"    column="eiCode"    />
        <result property="url"    column="url"    />
        <result property="imgUrl"    column="imgUrl"    />
        <result property="introduce"    column="introduce"    />
        <result property="expertIntroduce"    column="expertIntroduce"    />
        <result property="deptName"    column="deptName"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="onLineStatus"    column="onLineStatus"    />
        <result property="onLineTime"    column="onLineTime"    />
        <result property="createUser"    column="createUser"    />
        <result property="createTime"    column="createTime"    />
        <result property="updateUser"    column="updateUser"    />
        <result property="updateTime"    column="updateTime"    />
    </resultMap>

    <select id="selectExpertCourseList" resultMap="ExpertCourseResult">
      select ec.ecId, ec.ecTitle, ec.url,ec.imgUrl,ei.eiName eiId, ec.price,sio.dept_name deptName from pro_expert_course ec
      left join pro_expert_info ei on ec.eiId=ei.eiId LEFT JOIN sys_inv_org sio on ei.deId=sio.org_id
      where ec.`status`='0' and ec.onLineStatus='0' and ec.orgTg=#{orgTg} order BY ec.createTime desc
    </select>

    <select id="getExpertCourseInfo" parameterType="java.lang.String" resultMap="ExpertCourseResult">
        select ec.ecId, ec.ecTitle,  ec.url,ec.ecCode, ei.eiName eiId,ei.introduce expertIntroduce,ec.eiId eiCode, ec.introduce, ec.price,ec.status ,
        ec.onLineStatus , ec.onLineTime, ec.createUser, ec.createTime, ec.updateUser, ec.updateTime,sio.dept_name deptName
        from pro_expert_course ec left join pro_expert_info ei on ec.eiId=ei.eiId LEFT JOIN sys_inv_org sio on
        ei.deId=sio.org_id where ec.ecId = #{ecId}
    </select>

    <select id="selectCollectExperCourseList" parameterType="java.lang.String" resultMap="ExpertCourseResult">
      SELECT * FROM pro_expert_course where ecId in
      <foreach collection="proIdList" open="(" separator="," close=")" item="proId">
        #{proId}
      </foreach>
       order by createTime desc
    </select>
</mapper>